@import './mixins';

.cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.cards_container > * {
  width: 33%;

  @include xs {
    width: 100%;
  }

  @include sm {
    width: 50%;
  }
}
